imageio>=2.34.1
ipykernel>=6.29.4
ipywidgets>=8.1.2
jupyter>=1.0.0
matplotlib>=3.8.4
nbconvert>=7.16.4
nbformat>=5.10.4
notebook>=7.2.0
numba>=0.59.1
numpy>=1.26.4
pandas>=2.2.2
pillow>=11.3.0
pyarrow>=16.1.0
pyyaml>=6.0.1
scikit-learn>=1.5.0
seaborn>=0.13.2
tqdm>=4.66.3